# Derlenmiş CSS dosyaları (Sass, Less, vs.)
*.css.map  
*.scssc  
*.sass-cache/  
*.less-cache/  

# Node.js / Frontend build araçları
node_modules/  
dist/  
build/  
.vscode/  
.idea/  

# Sistem dosyaları ve geçici dosyalar
.DS_Store  
Thumbs.db  
*.log  
*.tmp  
*.bak  

# Rich Text Format dosyaları
*.rtf  
